#fundo-rj{
    width: 100vw;
    height: 300px;
    object-fit: cover;
    transition: .6s;
    animation-name: colorir;
    animation-duration: 2s;
    filter: saturate(0);
}
.cartao-analise{
    width: 70vw;
    padding: 20px;
    position: relative;
    bottom: 60px;
    left: 20px;
}

.glass{
    background: #deaf2173;
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 9.5px );
    -webkit-backdrop-filter: blur( 9.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );

}


.titulo-analise{
    font-family: var(--font-r);
    color: white;
    font-size: 40px;
    padding: 20px;
}



.titulo-analise-conteudo{
    font-family: var(--font-r);
    color: var(--branco);
    font-size: 40px;
}

.texto-analise-conteudo{
    font-family: var(--font-p);
    color: var(--branco);
    font-size: 20px;
    text-align: justify;
    text-indent: 40px;
}

.conteudo{
    position: relative;
    bottom: 60px;
    padding: 60px;

    display: flex;
    flex-flow: column wrap;
    gap: 30px;

}

.videos{
    display: flex;
    align-items: center;
    flex-flow: column nowrap;
    margin: 30px;
    gap: 20px;
}

.trailer-video{
    box-shadow: 6px 6px 0px var(--amarelo1);
}

@media screen and (max-width:600px) {
    .cartao-analise {
    width: 100vw;
    left: 0;
    border-radius: 0;
}

    .titulo-analise{
        font-size: 27px;
    }
    .conteudo{
        padding: 20px;
    }
        
    .d5-conteudo{
        display: none;
    }
}

@keyframes colorir {
    from{
        filter: saturate(1);
    }
    to{
        filter: saturate(0);
    }
}