.cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px;
    width: 100%;
    background-color: var(--branco);
}

#logo {
    width: 170px;
}

.lista-nav {
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 30px;
}

.item-nav {
    font-family: var(--font-r);
    font-size: 25px;
    transition: .6s;
}

.anchor {
    color: var(--preto);
}

.item-nav:hover {
    transform: translateY(-5px);
}

#menu{
    display: flex;
    flex-direction: column;
    background-color: var(--branco);
    align-items: center;
    justify-content: center;
    padding: 10px;
    transition: .6s;
    gap: 10px;
}

.anchor-m{
    color: var(--preto);
}

.item-m {
    font-family: var(--font-r);
    font-size: 25px;
    padding: 10px;
    list-style-type: none;
}

#icon-hamburguer{
    display: none;
}

#menu{
    display: none;
}

@media screen and (max-width: 600px) {
    
    #icon-hamburguer{
        display: flex;
    }
    .anchor{
        display: none;
    }   

}
