.cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px;
    width: 100%;
    background-color: var(--branco);
}

#logo {
    width: 170px;
}

.lista-nav {
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 30px;
}

.item-nav {
    font-family: var(--font-r);
    font-size: 25px;
    transition: .6s;
}

.anchor {
    color: var(--preto);
}

.item-nav:hover {
    transform: translateY(-5px);
}

@media screen and (max-width: 600px) {
    .lista-nav {
      display: none;
    }
}